body {
  font-family: raleway, sans-serif;
}

.login {
  background-color: white;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 0 1.5em rgb(2, 117, 69);
  margin: 12rem auto 0;
  padding: 6rem 0;
  width: 30rem;
}

.input-login {
  align-self: center;
  border: none;
  border-bottom: 1px rgb(200, 200, 200) solid;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  width: 60%;
  outline: 0;
}

.input-login:focus {
  border-bottom: 1px solid rgb(2, 117, 69);
}

.button-login {
  align-self: center;
  background-color: rgb(2, 117, 69);
  border-radius: 10px;
  color: white;
  border: none;
  width: 50%;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 900;
  padding: 0.8rem;
}

.button-login:hover {
  background-color: rgb(37, 145, 100);
  cursor: pointer;
}

.button-login:disabled {
  background-color: rgb(129, 129, 129);
}

.button-login:disabled:hover {
  background-color: rgb(129, 129, 129);
  cursor: auto;
}

.wallet-img {
  align-self: center;
  margin-bottom: 3rem;
  width: 20%;
}
